/* Este archivo contiene los estilos CSS para la página de inicio, incluyendo el diseño de la interfaz y las animaciones de las burbujas. */

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('fondo1.jpg') no-repeat center center/cover; /* Fondo inicial */
    overflow: hidden;
    position: relative;
    touch-action: none; /* Desactiva el comportamiento de arrastre por defecto en dispositivos táctiles */
}

.container {
    position: relative;
    width: 400px;
    height: 60px;
    background: rgba(20, 20, 20, 0.9); /* Fondo semitransparente */
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra */
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
    transform: perspective(1000px) translateZ(10px);
    z-index: 2;
    margin: 20px; /* Añade márgenes para que no pegue con los bordes de la pantalla */
}

.container:hover {
    box-shadow: 0 0 15px #00bfff; /* Sombra al pasar el ratón */
}

.container:active, .container.highlight {
    background: #1e3a5f; /* Fondo al hacer clic o resaltar */
    box-shadow: 0 0 20px #00bfff;
}

input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #00bfff;
    text-shadow: 0 0 5px #00bfff;
    padding-left: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    background: url('lupa.png') no-repeat center center; /* Icono de búsqueda */
    background-size: contain;
    cursor: pointer;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 1s ease-in-out, filter 0.5s, background 0.5s; /* Transición para el fondo */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transform: perspective(1000px) translateZ(10px);
    z-index: 1;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.2), inset 10px 10px 20px rgba(255, 255, 255, 0.5), 0 0 15px rgba(0, 0, 0, 0.1);
    border: 2px solid;
    animation: float 10s ease-in-out infinite;
}

.bubble:hover {
    filter: brightness(120%);
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--bubble-color), 0 0 10px var(--bubble-color), 0 0 15px var(--bubble-color), 0 0 20px var(--bubble-color);
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)); /* Aclara el fondo al pasar el ratón */
}

.bubble img {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bubble.dragging {
    opacity: 0.8;
    z-index: 1000;
    transition: none; /* Desactiva la transición durante el arrastre */
}

#reset-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#reset-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#toggle-animations-button {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#toggle-animations-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#change-background-button {
    position: fixed;
    bottom: 90px;
    right: 10px;
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#change-background-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#add-bubble-button {
    position: fixed;
    bottom: 130px;
    right: 10px;
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#add-bubble-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.add-bubble-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    display: none;
    z-index: 4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-size: cover; /* Asegura que el fondo se adapte al tamaño de la ventana */
    background-position: center; /* Centra el fondo */
}

.add-bubble-window input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.add-bubble-window input[type="color"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
}

.add-bubble-window button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #00bfff;
    color: white;
}

#resetBubbles {
    position: fixed;
    bottom: 170px; /* Ajusta la posición para estar por encima de los otros botones */
    right: 10px;
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#resetBubbles img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#upload-background-button {
    position: fixed;
    bottom: 210px;
    right: 10px;
    width: 30px; /* Tamaño más pequeño */
    height: 30px; /* Tamaño más pequeño */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
}

#upload-background-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.floating-bubble {
    position: absolute;
    background: url('bubble.png') no-repeat center center;
    background-size: contain;
    animation: float-up 3s ease-in-out forwards; /* Aumenta la duración a 3s */
}

@keyframes float-up {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0;
    }
    5% {
        transform: translateY(-5px) translateX(-1px);
        opacity: 0.1;
    }
    10% {
        transform: translateY(-10px) translateX(-2px);
    }
    15% {
        transform: translateY(-15px) translateX(-3px);
    }
    20% {
        transform: translateY(-20px) translateX(-4px);
    }
    25% {
        transform: translateY(-25px) translateX(-3px);
    }
    30% {
        transform: translateY(-30px) translateX(-2px);
        opacity: 1;
    }
    35% {
        transform: translateY(-35px) translateX(-1px);
    }
    40% {
        transform: translateY(-40px) translateX(0px);
    }
    45% {
        transform: translateY(-45px) translateX(1px);
    }
    50% {
        transform: translateY(-50px) translateX(2px);
    }
    55% {
        transform: translateY(-55px) translateX(3px);
    }
    60% {
        transform: translateY(-60px) translateX(4px);
        opacity: 0.5;
    }
    65% {
        transform: translateY(-65px) translateX(3px);
    }
    70% {
        transform: translateY(-70px) translateX(2px);
        opacity: 0.3;
    }
    75% {
        transform: translateY(-75px) translateX(1px);
    }
    80% {
        transform: translateY(-80px) translateX(0px);
        opacity: 0.2;
    }
    85% {
        transform: translateY(-85px) translateX(-1px);
    }
    90% {
        transform: translateY(-90px) translateX(-2px);
        opacity: 0.1;
    }
    95% {
        transform: translateY(-95px) translateX(-3px);
    }
    100% {
        transform: translateY(-100px) translateX(-4px);
        opacity: 0;
    }
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    animation: particle-animation 1s ease-out forwards;
}

@keyframes particle-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(7px, -4px);
    }
    50% {
        transform: translate(0px, 3px);
    }
    50% {
        transform: translate(-3px, -9px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#clockContainerWrapper {
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    pointer-events: none; /* Hace que el contenedor no sea seleccionable */
}

#clockContainerWrapper.left {
    left: 0;
    justify-content: flex-end;
    padding-right: 25%;
}

#clockContainerWrapper.right {
    right: 0;
    justify-content: flex-start;
    padding-left: 25%;
}

#clockContainer {
    text-align: center;
    color: rgba(255, 255, 255, 1); /* Color blanco completamente opaco */
    font-family: 'Exo', sans-serif; /* Cambia a una fuente similar */
    text-shadow: 0 0 10px rgba(0, 0, 43), 0 0 20px rgb(0, 0, 43), 0 0 30px rgba(0, 0, 43); /* Aumenta la visibilidad de la sombra azul oscuro */
    transition: opacity 0.5s ease-in-out; /* Añade efecto de transición */
    min-width: 150px;
}

#hour, #minute {
    font-size: 5vw; /* Disminuye ligeramente el tamaño */
    line-height: 1;
    font-weight: 600; /* Aumenta ligeramente el grosor de la fuente */
}

#date {
    font-size: 1.5vw; /* Disminuye el tamaño */
    font-weight: 600; /* Aumenta ligeramente el grosor de la fuente */
}

@media (min-width: 768px) {
    #clockContainerWrapper {
        display: flex; /* Muestra en pantallas más grandes */
    }
}

@media (max-width: 768px) {
    #clockContainerWrapper {
        display: none; /* Oculta en dispositivos móviles */
    }
}

#clockContainerWrapper.left:hover #clockContainer,
#clockContainerWrapper.right:hover #clockContainer {
    opacity: 0;
}

body:hover #clockContainerWrapper.left:hover #clockContainer,
body:hover #clockContainerWrapper.right:hover #clockContainer {
    opacity: 1;
}

.delete-button {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; /* Añade transición para opacidad y visibilidad */
}

.bubble:hover .delete-button,
.delete-button:hover {
    opacity: 1; /* Asegura que el botón de eliminar sea completamente visible */
    visibility: visible; /* Asegura que el botón de eliminar sea visible */
}

.bubble .delete-button {
    opacity: 0; /* Comienza con el botón de eliminar oculto */
    visibility: hidden; /* Comienza con el botón de eliminar oculto */
}

.add-bubble-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    display: none;
    z-index: 4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-size: cover; /* Asegura que el fondo se adapte al tamaño de la ventana */
    background-position: center; /* Centra el fondo */
}

.add-bubble-window input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.add-bubble-window input[type="color"] {
    height: 40px;
}

.add-bubble-window .round-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #00bfff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.add-bubble-window .round-button img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.add-bubble-window .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    z-index: 5;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mascota {
    position: fixed;
    width: 120px;
    height: 120px;
    bottom: 20px;
    left: 20px;
    cursor: grab;
    z-index: 100;
}


#pulpito {
    width: 100%;
    height: 100%;
    animation: moverTentaculos 2s infinite ease-in-out;
}

/* Animación de los tentáculos (movimiento ondulante) */
@keyframes moverTentaculos {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(2deg); }
}
/* Viñeta de Pulpi */
#burbuja {
    position: absolute;
    bottom: 100px;  /* Aparece arriba de Pulpi */
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 0, 0);
    color: #00bfff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Triangulito de la burbuja */
#burbuja::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
}

/* Efecto Hover: Mostrar burbuja y detener Pulpi */
#mascota:hover #burbuja {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
}

#mascota:hover {
    animation-play-state: paused;  /* Detiene la animación */
}

/* Contenedor del chat */
#chat-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    color: #00bfff;
    font-family: 'Exo', sans-serif;
    box-shadow: 0 4px 10px #00bfff;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    overflow: hidden;
    z-index: 200;
}

/* Contenedor del input con botón */
#chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #000000;
}

/* Encabezado del chat */
#chat-header {
    background: #000000;
    color: white;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#text-header{
    position: absolute;
    left: 50%;
   
}

#close-chat {
    background: red;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Lo empuja a la derecha */
}

/* Área de mensajes */
#chat-messages {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Input del chat estilizado */
#chat-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    outline: none;
    font-size: 17px;
    background: rgba(20, 20, 20, 0.9);
    box-shadow: #00bfff;
    opacity: 0.8;
}


/* Botón de enviar */
#send-chat img {
    width: 20px;
    height: 20px;
}

#send-chat{
    background-color: #000000;
    border: none;
}
